<footer id="footer" class="fixed-bottom">
    <div class="container">
        <span>Made with <span class="heart"><3</span> by <a href="http://danmaclean.info">Team MacLean</a></span>
    </div>
</footer>
</main>

<script src="/components/terrier/dist/terrier.js"></script>
<script src="/js/main.js"></script>
</body>