<% include head.ejs %>

<div class="container">

    <h1>REPORT OF SCIENTIFIC MISCONDUCT</h1>

    <p>Completing and submitting this form will send an anonymous email notification containing the contents and
        attachments to the TSL Council Chair, Head of Laboratory and Head of Administration</p>

    <br>

    <form method="post" action="/" enctype="multipart/form-data">

        <fieldset>
            <label>Please summarise your allegation below:</label>
            <textarea name="allegation" id="allegation"></textarea>
        </fieldset>

        <div id="upload-area"></div>

        <input type="submit" class="primary" value="SUBMIT">

    </form>

    <script type="text/jsx">

        var FileInput = React.createClass({
            render: function () {
                return (
                        <fieldset>
                            <input name="attachment[]" className="deletable" type="file" key={this.props.index}
                                   onChange={this.props.onChange.bind(this,this.props.index)}></input>
                        </fieldset>
                )
            }
        });

        var UploadApp = React.createClass({
            getInitialState: function () {
                return {files: ['0']};
            },
            onChange: function (index) {
                var newFiles = this.state.files.concat([index]);
                this.setState({files: newFiles});
                console.log(this.state);
            },
            render: function () {
                var self = this;
                return (
                        <div>
                            {self.state.files.map(function (file, i) {
                                return (
                                        <FileInput index={i} onChange={self.onChange}/>
                                )
                            })}
                        </div>

                )

            }
        });
        React.render(<UploadApp/>, document.getElementById('upload-area'));
    </script>


</div>
<% include foot.ejs %>